# PostgreSQL
POSTGRES_DB=payment_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# pgAdmin
PGADMIN_EMAIL=admin@payment.com
PGADMIN_PASSWORD=your_admin_password_here

# Ports
POSTGRES_PORT=5432
PGADMIN_PORT=5050